body{
    background: rgb(87,143,202);
    background: -moz-linear-gradient(141deg, rgba(87,143,202,1) 32%, rgba(161,227,249,1) 69%, rgba(209,248,239,1) 100%);
    background: -webkit-linear-gradient(141deg, rgba(87,143,202,1) 32%, rgba(161,227,249,1) 69%, rgba(209,248,239,1) 100%);
    background: linear-gradient(141deg, rgba(87,143,202,1) 32%, rgba(161,227,249,1) 69%, rgba(209,248,239,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#578fca",endColorstr="#d1f8ef",GradientType=1);
}
#login-box{
    border-radius: 10px;
    height: 450px;
    width: 400px;
    font-family: 'Poppins' !important;
    background-color: white;
}
#login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 800px; /* Adjust width */
    text-align: center;
}
#login-box h1{
    margin-top: 70px;
    font-weight: 600;
}
#login-box p{
    font-size: 14px;
}
#logo-container {
    height: 450px;
    width: 400px;
    position: absolute;
    top: 0px;
    left: 400px; /* Start position */
    background: rgb(161,227,249);
    background: -moz-linear-gradient(100deg, rgba(161,227,249,1) 0%, rgba(87,143,202,1) 49%, rgba(54,116,181,1) 100%);
    background: -webkit-linear-gradient(100deg, rgba(161,227,249,1) 0%, rgba(87,143,202,1) 49%, rgba(54,116,181,1) 100%);
    background: linear-gradient(100deg, rgba(161,227,249,1) 0%, rgba(87,143,202,1) 49%, rgba(54,116,181,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a1e3f9",endColorstr="#3674b5",GradientType=1);
    border-radius: 5px;
    transition: left 1s ease-in-out; /* Add smooth transition */
}
.form-control {
    border: none !important;
    border-bottom: 2px solid #676767 !important;
    box-shadow: none !important;
    width: 270px !important;
    border-radius: 0px !important;

}
#form-container{
    height: 450px;
    width: 400px;
    position: absolute;
    top: 0px;
    left: 400px;
}
#formControlInput{
    margin-top: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
}
#formControlInput1{
    margin-top: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
}
#formControlInput:focus, #formControlInput1:focus {
    border-top: none;
    border-left: none;
    outline: none; /* Remove outline if you don't want the default focus border */
}
#login-box .btn-primary{
    position: absolute;
    top: 330px;
    left: 50%;
    height: 40px !important;
    transform: translateX(-50%);
    width: 270px !important;
    border-radius: 5px !important;
    font-weight: 600 !important;
    background-color: #578FCA;
    border: none !important;
    color: white;
}
#login-box .btn-primary:hover{
    background-color: white;
    border: 1px solid #578FCA !important;
    color: #578FCA;
}
#logo-hotel{
    width: 240px;
    height: 240px;
    margin-top: 50px;
}
#logo h1{
    font-family: "Righteous" !important;
    color: white;
    margin-top: -30px;
}
#msg-container h2{
    position: absolute;
    font-weight: 600;
    text-align: left;
    top: 90px;
    left: 60px;
}
#msg-container p{
    width: 250px;
    text-align: justify;
    font-size: 16px;
    position: absolute;
    top: 190px;
    left: 60px;
}
#msg-container .btn-primary{
    position: absolute;
    top: 320px;
    left: 195px;
    height: 40px !important;
    width: 270px !important;
    border-radius: 0px !important;
    font-weight: 600 !important;
    background-color: #578FCA;
    border: none !important;
    border-radius: 5px !important;
    color: white;
}
#msg-container {
    transition: opacity 0.8s ease-in-out; /* Smooth fade effect */
}
.hidden {
    opacity: 0; /* Make it invisible */
    pointer-events: none; /* Prevents interaction after fading out */
}