/*These section are for modals*/
.contents{
    display: flex;
}
#qr-modal .modal-header {
    font-family: 'Poppins';
    padding-top: 30px;
    flex-direction: column;
    border-bottom: none;
}
#qr-modal .bottom-line{
    margin-top: 30px !important;
}
#qr-modal .modal-header h5 {
    font-weight: 600;
    color: #566A7F;
}

#qr-modal .modal-header p {
    font-size: 14px;
    color: #697A8D;
}

#qr-modal .modal-body {
    padding-top: 0px;
    margin-top: 0px;
    height: 400px;
}

#qr-modal .btn-close {
    display: none;
}

#qr-modal .modal-footer {
    padding-right: 35px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: none;
}

#qr-modal .modal-content {
    width: 600px;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%);
}

.qr-content {
    padding-left: 30px;
    transition: opacity 0.5s ease-in-out;
    padding-right: 30px;
    width: 100%;
    height: 400px;
}

#qr-modal .input-content-5 {
    margin-top: -15px;
    padding-right: 10px;
    height: 350px;
}

#qr-modal .input-content-6 {
    overflow-y: auto;
}

#qr-modal .input-content hr, 
#qr-modal .input-content-7 hr {
    color: #566A7F;
    width: 500px;
}

#qr-modal .qr-content p {
    margin-left: 36%;
    transform: translateX(-36%);
    font-family: 'Poppins';
    font-size: 14px;
    white-space: nowrap;
    color: #566A7F;
    margin-top: 20px;
}

#qr-modal .input-content-2 hr {
    position: absolute;
    top: 370px;
}

#qr-modal .scanner-holder {
    border: 1px solid #566A7F;
    width: 300px;
    height: 300px;
    color: pink;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    margin-top: 20px;
}

#qr-modal label {
    color: #566A7F;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 600;
}

#qr-modal .form-control {
    font-family: 'Poppins';
    font-size: 14px;
}

#qr-modal .form-control:focus {
    outline: none;
    box-shadow: none;
}

#qr-modal .name-flex, 
#qr-modal .contact-flex, 
#qr-modal .namelabel-flex, 
#qr-modal .contactLabel-flex, 
#qr-modal .address-gen-label-flex, 
#qr-modal .address-gen-flex {
    display: flex;
}

#qr-modal .name-flex, 
#qr-modal .contact-flex, 
#qr-modal .address-gen-flex {
    align-items: center;
    gap: 20px;
}
#qr-modal .address-gen-label-flex {
    gap: 200px;
}

#qr-modal #gen-label {
    margin-top: 20px;
    padding-bottom: 0px;
    margin-bottom: -10px;
}

#qr-modal .namelabel-flex {
    gap: 190px;
}

#qr-modal .contactLabel-flex {
    margin-top: 20px;
    gap: 230px;
}

#qr-modal #gender-select {
    font-family: 'Poppins';
    font-size: 14px;
    color: #697A8D;
}

#qr-modal #gender-select:focus {
    outline: none;
    box-shadow: none;
}

#qr-reader-main {
    width: 100%;
    height: 100%;
    position: relative;
}

#qr-modal #address-label {
    margin-top: 20px;
}

#qr-modal .separate-flex {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

#qr-modal .separate-flex p {
    font-weight: 600;
    font-size: 14px;
    color: #566A7F;
    font-family: 'Poppins';
    margin-bottom: 0px;
}

#qr-modal .separate-flex hr {
    color: #566A7F;
    width: 230px !important;
    margin-top: 10px;
}

#qr-modal #qr-ask-label {
    font-family: 'Poppins';
    font-size: 13px;
    color: #697A8D;
    margin-left: 55%;
    margin-top: 10px;
    transform: translateX(-55%);
}

#qr-modal #qr-button {
    display: flex;
    gap: 10px;
    height: 60px;
    border: 1px solid #578FCA !important;
    background-color: #f7f7f7 !important;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 200px;
    font-family: 'Poppins';
    font-weight: 600;
    color: #578FCA;
    align-items: center;
    padding-left: 20px;
}
#qr-modal .modal-footer .btn {
    width: 140px;
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 600;
}

#qr-modal .modal-footer .btn.btn-primary {
    background-color: #578FCA;
    color: #f7f7f7;
    border: none;
}

#qr-modal .modal-footer .btn.btn-secondary {
    background-color: #f7f7f7;
    border: 1px solid #578FCA;
    color: #578FCA;
}

#qr-modal .bottom-line {
    color: #566A7F;
    width: 500px;
    margin-top: -10px;
}

#qr-modal .ic3-container {
    display: flex;
    gap: 60px;
    font-family: 'Poppins';
    font-size: 14px;
    height: 100%;
    margin-top: 30px !important;
}

#qr-modal .existing-user-labels {
    margin-left: 20px;
    color: #566A7F;
    font-weight: 600;
}

#qr-modal .existing-user-labels, 
#qr-modal .existing-user-values {
    color: #697A8D;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#qr-modal #address {
    max-width: 200px;
}

#qr-modal #ic3hr1 {
    margin-top: -10px;
}

#qr-modal #ic3hr2 {
    margin-top: -30px;
}

#qr-modal .ic4-flex {
    display: flex;
    flex-direction: column;
}

#qr-modal .checkin-dates-label-flex, 
#qr-modal .checkout-dates-label-flex, 
#qr-modal .roomtypes-label-flex, 
#qr-modal .extra-details-label-flex {
    display: flex;
    color: #566A7F;
    gap: 150px;
}
#qr-modal .checkin-dates-label-flex {
    gap: 160px;
}

#qr-modal .checkout-dates-label-flex {
    margin-top: 20px;
}

#qr-modal .roomtypes-label-flex {
    gap: 180px;
    margin-top: 20px;
}

#qr-modal .extra-details-label-flex {
    gap: 140px;
    margin-top: 20px;
}

#qr-modal .room-types-flex .form-select {
    width: 460px;
    font-family: 'Poppins';
}

#qr-modal .checkin-dates-flex, 
#qr-modal .checkout-dates-flex, 
#qr-modal .room-types-flex, 
#qr-modal .extra-flex {
    display: flex;
    gap: 20px;
}

#qr-modal .input-content-4 hr {
    width: 500px;
    margin-top: 70px;
}

#qr-modal .output-flex {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Poppins';
    font-size: 12px;
    gap: -5px;
    color: #697A8D;
}

#qr-modal .output-label-name, 
#qr-modal .output-values-name, 
#qr-modal .output-label-numgen, 
#qr-modal .output-values-numgen,
#qr-modal .output-label-checkin, 
#qr-modal .output-values-checkin,
#qr-modal .output-label-checkout, 
#qr-modal .output-values-checkout,
#qr-modal .output-label-guestrate, 
#qr-modal .output-values-guestrate,
#qr-modal .output-label-room, 
#qr-modal .output-values-room {
    gap: 100px;
    display: flex;
}

#qr-modal .output-values-name, 
#qr-modal .output-values-numgen, 
#qr-modal .output-values-checkin,
#qr-modal .output-values-checkout, 
#qr-modal .output-values-guestrate, 
#qr-modal .output-values-room {
    font-size: 18px;
    font-weight: 600;
    color: #566A7F;
    margin-top: -10px;
}

#qr-modal #output-email, 
#qr-modal #output-address {
    font-size: 18px;
    font-weight: 600;
    color: #566A7F;
    margin-top: -10px;
}

#qr-modal .input-content-5 hr {
    width: 500px;
}

#qr-modal .output-label-name {
    gap: 200px;
}
#qr-modal .output-values-name {
    gap: 120px;
}

#qr-modal .output-label-numgen {
    gap: 245px;
}

#qr-modal .output-values-numgen {
    gap: 250px;
}

#qr-modal #output-fname {
    max-width: 150px;
    width: 100%;
}

#qr-modal .output-label-checkin {
    gap: 185px;
}

#qr-modal #output-checkin-date, 
#qr-modal #output-checkout-date {
    max-width: 150px;
    width: 100%;
}

#qr-modal .output-label-checkout {
    gap: 170px;
}

#qr-modal .output-values-checkin, 
#qr-modal .output-values-checkout {
    gap: 120px;
}

#qr-modal .output-label-room {
    gap: 205px;
}

#qr-modal #output-room-type {
    max-width: 200px;
    width: 100%;
}

#qr-modal .output-values-room {
    gap: 70px;
}

#qr-modal .output-label-guestrate {
    gap: 160px;
}

#qr-modal #output-guest-num {
    max-width: 100px;
    width: 100%;
}

#qr-modal .output-values-guestrate {
    gap: 170px;
}

#qr-modal .payment-methods {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    gap: 10px;
}
#qr-modal .payment-methods .btn.btn-light {
    border: 1px solid #566A7F;
    color: #566A7F;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 14px;
    height: 100px;
    width: 100% !important;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    gap: 260px;
    padding-left: 30px;
}

#qr-modal .input-content-7 p {
    font-family: 'Poppins';
    font-size: 14px;
}

#qr-modal .payment-methods p {
    color: #566A7F;
    font-weight: 600;
    margin-bottom: -5px;
    font-size: 14px;
}

#qr-modal .payment-label-flex {
    color: #566A7F;
    display: flex;
    gap: 150px;
}

#qr-modal .payment-flex {
    margin-top: -20px;
    display: flex;
    gap: 75px;
}

#qr-modal .payment-flex p {
    color: #697A8D;
    font-weight: 600;
    font-size: 20px;
    max-width: 200px;
    width: 100%;
}

#qr-modal #select-voucher-qr {
    width: 280px !important;
    height: 50px;
    font-size: 16px;
    background-color: #f7f7f7;
    color: #578FCA;
    border: 1px solid #578FCA;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 40px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
}

#qr-modal .voucher-details-flex {
    margin-top: 20px;
    display: flex;
    gap: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
}

#qr-modal .voucher-details-flex p {
    color: #566A7F;
    width: 200px;
}

#qr-modal #voucher-value {
    color: #697A8D;
    width: 350px;
    font-weight: 600;
}

#qr-modal #remove-voucher {
    margin-left: 60%;
    transform: translateX(-60%);
    color: #697A8D;
}

#qr-modal .total-amount-flex {
    display: flex;
    gap: 250px;
}

#qr-modal #total-amount-value {
    color: #566A7F;
    font-size: 20px;
    font-weight: 600;
}
#qr-modal .total-amount-value-flex {
    display: flex;
    flex-direction: column;
    text-align: right; 
}

#qr-modal #orig-amount-value, 
#qr-modal #discount-amount-value, 
#qr-modal #res-amount-value {
    margin-top: -20px;
    color: #697A8D;
}

#qr-modal #tot-amount-label {
    color: #566A7F;
    font-weight: 600;
}

#qr-modal .input-content-9 img, 
#qr-modal .input-content-10 img, 
#qr-modal .input-content-11 img {
    margin-left: 50%;
    transform: translateX(-50%);
}

#qr-modal .input-content-9 h5, 
#qr-modal .input-content-10 h5, 
#qr-modal .input-content-11 h5 {
    margin-left: 35%;
    transform: translateX(-35%);
    font-weight: 600;
    font-family: 'Poppins';
    margin-top: 20px;
    color: #566A7F;
}

#qr-modal .input-content-10 h5{
    margin-left: 58%;
    transform: translateX(-58%);
}
#qr-modal #acc-email-paypal, 
#qr-modal #acc-name-paypal, 
#qr-modal #acc-num-gcash, 
#qr-modal #acc-name-gcash, 
#qr-modal #cash-amount {
    margin-left: 20px;
    width: 460px;
}

#qr-modal .input-content-9 label, 
#qr-modal .input-content-10 label, 
#qr-modal .input-content-11 label {
    margin-top: 30px;
    margin-left: 20px;
}

#qr-modal .bottom-hr {
    margin-top: -5px;
}

#qr-modal .amount-labels, 
#qr-modal .amount-values {
    display: flex;
    font-family: 'Poppins';
}

#qr-modal .amount-labels {
    gap: 140px;
    color: #697A8D;
    font-size: 14px;
    margin-top: 40px;
    margin-left: 40px;
    font-weight: 600;
}

#qr-modal .amount-values {
    font-size: 20px;
    font-weight: bold;
    color: #566A7F;
    margin-left: 40px;
    margin-top: -10px;
    max-width: 250px;
    width: 100%;
    gap: 150px;
    white-space: nowrap;
}

#qr-modal .input-content-12 img {
    margin-left: 50%;
    transform: translateX(-50%);
}

#qr-modal .input-content-12 h5 {
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 26px;
    font-family: 'Poppins';
    color: #566A7F;
    font-weight: 600;
}

#qr-modal .input-content-12 p {
    font-family: 'Poppins';
    color: #697A8D;
    font-size: 14px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 350px;
    text-align: center;
}

#qr-modal .fade-in {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

#qr-modal .fade-out {
    opacity: 1;
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

#qr-reader-main{
    width: 100%;
    height: 100%;
    position: relative;
}

#qr-reader-main video{
    width: 100%;
    height: 300px;
    display: block;
}

#qr-reader-main canvas{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#qr-modal #qr-shaded-region {
    border-radius: 10px;
}

/*These section are for modals*/